
 body{
    margin: 0px;
/*     padding-left: 30px; */
    color:white; 
 }
h1{
    position: fixed;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: white;
 }

 .container {
/*     margin:150px;   */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170px; /*60px*/
    line-height: 70px; /*13px*/
    justify-content: space-around;
    background-image: url("self-portrait.png");
    
  }
