
 body{
    margin: 0px;
    padding-left: 30px;
    color:white; 
 }
h1{
    margin: 400px;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: white;   
 }

 h2{
   margin: 600px;
   font-size: 110px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: black;
   background-color: white;   
 }

 p{
    margin:none;
    padding:none;
    color:black;
    z-index:30;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 70px; /*60px*/
   line-height: 70px; /*13px*/
 }

.container {

    margin:150px;  
    margin-bottom: 13.75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170px; /*60px*/
    line-height: 70px; /*13px*/
    justify-content: space-around;
    background-image: url("self-portrait.png"); 
  }
.letter {
   opacity: 0;
   transition: opacity 0.525s;
   transition-timing-function: ease-in-out;
}

.letter.visible {
   opacity: 1;
   font-size: 300px;
} 
